{% extends "start.html" %}

{% block title %}Punkteauswertung ({{teilnehmer}}/{{klausur}}){% endblock title %}

{% block content %}
    <h1>Punkteauswertung ({{teilnehmer}}/{{klausur}})</h1>
    <br />
    <br />
    <form method="POST">  
        {% csrf_token %}  
        {% for frage in  fragen %}
        <div class="mb-3 row">
            <div class="col-9">{{forloop.counter}}. {{frage.0.frage}} </div>
            <div class="col-1"><input type="number" class="form-control" name="punkte_{{frage.0.frage.id}}" onchange="this.form.submit()" value="{{frage.1}}"></div>
            <div class="col-auto">({{frage.0.frage.punkte}})</div>
        </div>
        <hr />
        {% endfor %}
        <div class = "row">
            <div class="col-9"><h2>{{sum}} von {{max}} Punkten - {{prozent}}% </h2></div>
            <div class="col-auto"><button type="submit" class="btn btn-primary" name="button" value="save">Speichern</button></div>
        </div>
    </form>
{% endblock content %}